In [8]:
import pandas as pd

In [9]:
cost_of_living = pd.read_csv('data/Cost of Living.csv')

# padding fips code
cost_of_living['fips'] = cost_of_living['fips'].astype(str).apply(lambda x: x.zfill(5))

cost_of_living

,area_name,case_id,state_name,state_alpha,rent,food,child_care,transportation,health_care,other,...,median_family_income,mean_family_income,total_median_share,total_mean_share,state_cost_rank,state_income_rank,state_med_affordability_rank,num_counties_in_state,fips,region
0,Autauga County,1,Alabama,AL,1005.62520,832.00439,1318.72450,1226.9673,1443.2594,665.84570,...,73010.41406,89430.39063,1.220071,0.996058,2.0,7.0,55.0,67.0,01001,Southeast
1,Baldwin County,2,Alabama,AL,922.00000,894.46722,1279.01660,1230.6757,1407.3345,658.17773,...,77884.75781,100619.71090,1.124319,0.870280,3.0,3.0,64.0,67.0,01003,Southeast
2,Barbour County (AL),3,Alabama,AL,648.00000,779.53564,970.38959,1134.3220,1415.9928,517.25244,...,42822.75391,57886.29297,1.719605,1.272118,56.0,64.0,5.0,67.0,01005,Southeast
3,Bibb County (AL),4,Alabama,AL,814.96014,734.56244,1149.85490,1270.2726,1470.2030,561.45313,...,59443.98828,71175.47656,1.374570,1.148006,11.0,22.0,28.0,67.0,01007,Southeast
4,Blount County (AL),5,Alabama,AL,740.57007,784.53271,1097.99840,1271.1036,1470.2030,552.60486,...,63966.12891,78600.45313,1.257586,1.023441,14.0,15.0,49.0,67.0,01009,Southeast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,Sweetwater County,3139,Wyoming,WY,822.00000,822.01031,1715.15530,1301.1442,1808.8269,595.68976,...,90264.17188,100073.43750,1.038281,0.936508,11.0,3.0,23.0,23.0,56037,West
3139,Teton County,3140,Wyoming,WY,1325.00000,1129.32730,2230.82790,1371.1155,1808.8269,889.29950,...,113635.75780,176638.71880,1.052642,0.677189,1.0,1.0,22.0,23.0,56039,West
3140,Uinta County (WY),3141,Wyoming,WY,734.00000,767.04303,1598.80750,1299.6438,1808.8269,543.88708,...,79810.05469,88579.14844,1.117044,1.006460,23.0,12.0,17.0,23.0,56041,West
3141,Washakie County,3142,Wyoming,WY,734.00000,814.51483,1572.94670,1320.8890,1808.8269,561.08801,...,70096.28125,79430.12500,1.284257,1.133344,22.0,19.0,7.0,23.0,56043,West
3142,Weston County,3143,Wyoming,WY,913.00000,789.52979,1767.30820,1346.9919,1808.8269,616.89368,...,80177.65625,84397.91406,1.202494,1.142364,4.0,11.0,10.0,23.0,56045,West

In [10]:
population = pd.read_csv('data/counties.csv')
population

                 County    State FIPS Code  Population   Area  Density
0        Autauga County  Alabama     01001       59095    594       99
1        Baldwin County  Alabama     01003      239294   1589      151
2        Barbour County  Alabama     01005       24964    884       28
3           Bibb County  Alabama     01007       22477    622       36
4         Blount County  Alabama     01009       59041    644       92
...                 ...      ...       ...         ...    ...      ...
3089  Sweetwater County  Wyoming     56037       41614  10426        4
3090       Teton County  Wyoming     56039       23575   4008        6
3091       Uinta County  Wyoming     56041       20635   2082       10
3092    Washakie County  Wyoming     56043        7705   2240        3
3093      Weston County  Wyoming     56045        6745   2398        3

[3094 rows x 6 columns]

In [11]:
df = pd.read_csv('data/asecpub23csv/hhpub23.csv', usecols=['HTOTVAL', 'H_NUMPER', 'GTCO', 'GESTFIPS'])

# remove all rows with missing data
df = df[(df['GTCO'] != 0) & (df['GESTFIPS'] != 0) & (df['HTOTVAL'] != 0)]
sample_df = df.sample(n=100)

sample_df

       GESTFIPS  H_NUMPER  HTOTVAL  GTCO
9565         36         2   168753   103
4316         25         4     3002    23
35013        11         1    53320     1
11906        34         2    64345     7
15844        39         3   371408   103
...         ...       ...      ...   ...
73427         4         1   321250    13
45431        12         2    46515    11
4992         25         4    42900    27
10555        34         3   316750     3
3478         25         5    93043     9

[100 rows x 4 columns]

In [12]:
# 'calculate' time
sample_df['Free Time'] = 8

# calculating FIPS codes

sample_df['GESTFIPS'] = sample_df['GESTFIPS'].astype(str).apply(lambda x: x.zfill(2))
sample_df['GTCO'] = sample_df['GTCO'].astype(str).apply(lambda x: x.zfill(3))
sample_df['Code'] = sample_df['GESTFIPS'] + sample_df['GTCO']

# renaming cost of income
sample_df = sample_df.rename(columns={'HTOTVAL': 'Income'})

sample_df

      GESTFIPS  H_NUMPER  Income GTCO  Free Time   Code
9565        36         2  168753  103          8  36103
4316        25         4    3002  023          8  25023
35013       11         1   53320  001          8  11001
11906       34         2   64345  007          8  34007
15844       39         3  371408  103          8  39103
...        ...       ...     ...  ...        ...    ...
73427       04         1  321250  013          8  04013
45431       12         2   46515  011          8  12011
4992        25         4   42900  027          8  25027
10555       34         3  316750  003          8  34003
3478        25         5   93043  009          8  25009

[100 rows x 6 columns]

In [15]:
# adding population density
sample_df = pd.merge(sample_df, population, left_on='Code', right_on='FIPS Code')
sample_df = sample_df.drop(columns=['FIPS Code'])

sample_df

,GESTFIPS,H_NUMPER,Income,GTCO,Free Time,Code,County_x,State_x,Population_x,County Area,Density_x,Required Income,County_y,State_y,Population_y,Area,Density_y
0,36,2,168753,103,8,36103,Suffolk County,New York,643,2373,0,142177.890,Suffolk County,New York,643,2373,0
1,36,2,95787,103,8,36103,Suffolk County,New York,643,2373,0,142177.890,Suffolk County,New York,643,2373,0
2,25,4,3002,023,8,25023,Plymouth County,Massachusetts,533003,661,806,112437.730,Plymouth County,Massachusetts,533003,661,806
3,25,6,406699,023,8,25023,Plymouth County,Massachusetts,533003,661,806,112437.730,Plymouth County,Massachusetts,533003,661,806
4,34,2,64345,007,8,34007,Camden County,New Jersey,523771,222,2359,89082.633,Camden County,New Jersey,523771,222,2359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,26,3,143103,099,8,26099,Macomb County,Michigan,876792,570,1538,83390.063,Macomb County,Michigan,876792,570,1538
93,45,1,45000,083,8,45083,Spartanburg County,South Carolina,335864,819,410,68167.539,Spartanburg County,South Carolina,335864,819,410
94,25,4,42900,027,8,25027,Worcester County,Massachusetts,862029,1513,570,100645.240,Worcester County,Massachusetts,862029,1513,570
95,34,3,316750,003,8,34003,Bergen County,New Jersey,953819,234,4076,110623.020,Bergen County,New Jersey,953819,234,4076
96,25,5,93043,009,8,25009,Essex County,Massachusetts,807074,498,1621,115870.420,Essex County,Massachusetts,807074,498,1621

In [14]:
# adding cost of living

sample_df = pd.merge(sample_df, cost_of_living[['fips', 'total_annual']], left_on='Code', right_on='fips')
sample_df = sample_df.rename(columns={'total_annual': 'Required Income', 'Area': 'County Area'})
sample_df = sample_df.drop(columns=['fips'])

sample_df

,GESTFIPS,H_NUMPER,Income,GTCO,Free Time,Code,County,State,Population,County Area,Density,Required Income
0,36,2,168753,103,8,36103,Suffolk County,New York,643,2373,0,142177.890
1,36,2,95787,103,8,36103,Suffolk County,New York,643,2373,0,142177.890
2,25,4,3002,023,8,25023,Plymouth County,Massachusetts,533003,661,806,112437.730
3,25,6,406699,023,8,25023,Plymouth County,Massachusetts,533003,661,806,112437.730
4,34,2,64345,007,8,34007,Camden County,New Jersey,523771,222,2359,89082.633
...,...,...,...,...,...,...,...,...,...,...,...,...
92,26,3,143103,099,8,26099,Macomb County,Michigan,876792,570,1538,83390.063
93,45,1,45000,083,8,45083,Spartanburg County,South Carolina,335864,819,410,68167.539
94,25,4,42900,027,8,25027,Worcester County,Massachusetts,862029,1513,570,100645.240
95,34,3,316750,003,8,34003,Bergen County,New Jersey,953819,234,4076,110623.020
96,25,5,93043,009,8,25009,Essex County,Massachusetts,807074,498,1621,115870.420